.Tabla{
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: rgb(193, 228, 142);}
    
    #customers tr:hover {background-color:rgba(57, 165, 57, 0.699);}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: greenyellow;
      color: black;
    }
  }