* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
  }

  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 44px;
    line-height: 40px;
    background-image:url(/public/logo\ Ganadeando\ app.png);
   
  }
  .container-form{
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
  }

  .welcome-back{
    display: flex;
    align-items: center;
    text-align: center;
  }

  .message{
    padding: 1rem;
  }

  .message h2{
        font-size: 1.7rem;
        padding: 1rem 0;
  }

  .message button{
    padding: 1rem;
    font-weight: 400;
    background-color:rgba(68, 184, 15, 0.863);
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: white;

  }
  
  .message button:hover{
    background-color:aquamarine ;
  }

  .formulario{
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(6, 62, 2, 0.602);
    text-align: center;
  }

  .create-account{
    padding: 2.7rem 0;
    font-size: 1.7rem;
  }

  .iconos{
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
        
  }

  .border-icon{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin rgb(14, 13, 13);
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
   
  }

  .border-icon:hover{
    background-color:white;
    cursor: pointer;
  }


.cuenta-gratis{
    padding: 2rem 0;
}
/*Esta seccion es de contácto*/
.form{
  background-color: rgba(0, 128, 0, 0.712);
  width: 90%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
  margin: auto;
}
.form__title{
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .4rem;
}
.form__container{
  width: 100%;
  display: grid;
  gap:  1em;
  grid-auto-columns: 100%;

}
.form__input{
  font-family: inherit;
  font-size: 1rem;
  padding: .8em 1em;
  outline: none;
  border: none;
  border: 1px solid #43e97b;
  border-radius: 0.2em;
}
.form__input form__input--message{
  resize: none;
  padding: 1.8em  1em;
  margin-bottom: .5em;
}
.form__cta{
  font-family: inherit;
  font-size: 1rem;
  background-color: #43e97b;
  color: green;
  border: none;
  font-weight: 300;
  padding: .7em 0;
  border-radius: 1em;
  cursor: pointer;
  font-weight: 400;
}
.form .form__cta:hover{
  background-color: rgba(250, 253, 249, 0.63);
  cursor: pointer;
}

@media (max-width: 600px) {
  form{
    padding: 3.5em 1em;
  }
}
